img {
	max-width: 100%;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a{
    color: inherit;
    text-decoration: none;
}

.d-flex{
    display: flex;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*start*/

body {
    background-image: url(./img/background.jpg);
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}




/*navbar desktop*/

.mobile {
	display: none;
}

section.navbar  {
	height: 110px;
	margin-top: 50px;
}

.navbar {
	background-color: rgb(164, 212, 136);
	justify-content: space-around;
	padding: 0 2%;
}

.logo{
	color: white;
	font-family: 'Niconne', cursive;
	font-size: 38px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.navbar ul {
	width: 600px;
	align-self: center;
	display: flex;
	align-items: center;
	padding: 30px;
	min-width: 0;
	justify-content: space-between;
	flex-shrink: 2;
}

.navbar li {
    list-style: none;
	min-width: 0;
	padding-right: 20px;
}

.navbar li.active a {
	color: #6B3B17 !important;
}

.navbar li.active a:hover {
   color: #000 !important;
}

.navbar ul.nav a {     
    font-size: 12pt;
    color: #fff;
    text-transform: uppercase;     
    font-family: 'Overlock', sans-serif;
    font-weight: bold;
    line-height: 1.936;
    text-align: left;
           white-space: nowrap;
}

.navbar ul.nav a:hover {
  color: #6B3B17;
} 


/*navbar desktop end*/



#hours {
	position: relative;
	left: 60%;
	margin-top: 5%;
}


.contenttop {
	width: 300px;
	background-color: white;
	text-align: center;
	color: #6B3B17;
}

#top {
	display: flex;
	justify-content: space-between;
	
	width: 200px;
	margin: auto;
}

.bordertop {
	flex-grow: 2;
	height: 5px;
	border-top: 1px solid rgba(15, 168, 161, 1);
    margin: 40px 0px 14px 0;
}

.contenttop h4 {
	color: #0FA8A1;
	font-family: 'overlock', sans-serif;
	font-size: 16px;
	align-self: flex-end;
	margin: 33px  10px 14px 10px;
}

.contenttop p {
	font-family: 'overlock', sans-serif;
	font-size: 16px;
	margin-bottom: 19px;	
}

#bottom {
	padding: 0 10px;
	width: 200px;
	margin: auto;
}

#borderbottom {
	color: white;
	border-top: 1px solid rgba(15, 168, 161, 1);
	height: 40px;
}

.social {
	color: white;
	display: flex;
	justify-content: center;
	width: 300px;
	flex-direction: column;
	align-items: center;
}

.social p {
	align-self: center;
	width: 200px;
	height: 100px;
	background-color: rgb(164, 212, 136);
	font-family: 'overlock', sans-serif;
	font-size: 18px;
	font-weight: bold;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0 50px;
}

#arrow {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid rgb(164, 212, 136);
}


/*footer start*/

footer {
	background-color: rgb(164, 212, 136);
	height: 83px;
	position: fixed;
	bottom: 2vh;
	width: 100%;
	text-align: center;
}

.footer {
	margin: auto;
	height: 50px;
	margin-top: 16.5px;
}


footer h3 {
	color: white;
	font-family: 'Niconne', cursive;
	font-size: 22px;
	padding-bottom: 10px;
}

footer p {
	font-family: 'Overlock', sans-serif;
	color: white;
	font-size: 12px;
}

/*footer end*/

/*navbar mobile*/

@media only screen and (max-width: 600px) {
	.logo {
		font-size: 2rem;
		display: flex;
		padding-top: 2%;
		flex-shrink: 2;
	}

	.logo img {
		padding-bottom: 5px;
		flex-shrink: 2;
		width: 80vw;
	}

	.desktop {
		display: none;
	}

	.header {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		background-color: rgb(164, 212, 136);
		box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
	  }


	  
	  .header ul {
		box-sizing: border-box;
		width: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: flex-end;
		height: 160px;
		margin: 0;
		list-style: none;
		overflow: hidden;
		background-color: rgb(164, 212, 136);
		z-index: 99;
	  }
	  
	  .header li a {
		width: 100%;
		box-sizing: border-box;
		position: relative;
		font-family: 'Overlock', sans-serif;
		text-transform: uppercase;
		padding-right: 20px;
		color: white;
		text-decoration: none;
	  }
	  
	  .header li a:hover {
		color: black;
	  }
	  
	  
	  .header .menu {
		width: 100%;
		clear: both;
		max-height: 0;
		transition: max-height .2s ease-out;
	  }
	
	  .header .menu-icon {
		align-self: center;
		cursor: pointer;
		padding: 28px 20px 28px 0px;
		user-select: none;
	  }

	  
	  .header .menu-icon .navicon {
		background: white;
		display: block;
		height: 2px;
		position: relative;
		transition: background-color .2s ease-out;
		width: 28px;
	  }
	  
	  .header .menu-icon .navicon:before,
	  .header .menu-icon .navicon:after {
		background: white;
		content: '';
		display: block;
		height: 100%;
		position: absolute;
		transition: all .2s ease-out;
		width: 100%;
	  }
	  
	  .header .menu-icon .navicon:before {
		top: 8px;
	  }
	  
	  .header .menu-icon .navicon:after {
		top: -8px;
	  }
	
	  .header .menu-btn {
		display: none;
	  }
	  
	  .header .menu-btn:checked ~ .menu {
		max-height: 240px;
	  }
	  
	  .header .menu-btn:checked ~ .menu-icon .navicon {
		background: transparent;
	  }
	  
	  .header .menu-btn:checked ~ .menu-icon .navicon:before {
		transform: rotate(-45deg);
	  }
	  
	  .header .menu-btn:checked ~ .menu-icon .navicon:after {
		transform: rotate(45deg);
	  }
	  
	  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
	  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
		top: 0;
	  }


	#hours {
		position: fixed;
		width: 300px;
		height: 240px;
		top: 50%;
		left: 50%;
		margin-top: -120px; /* Negative half of height. */
		margin-left: -150px; /* Negative half of width. */
	}

	footer {
		bottom: 0;
	}



	}

/*navbar mobile end*/


/*gallery start*/

	#gallerycontentbox {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		background-color: white;
		margin: 20px auto;
		max-width: 930px;
		width: 100%;
		padding: 0 20px 90px 20px;
		color: #6B3B17;

	}


	#gallerycontentbox #top {
		width: 100%;

	}


	#gallerycontentbox .bordertop {
		max-width: 100%;
		margin-right: 10px;
		margin-left: 10px;
	}

	.gallery {
		display: inline-block;
	}

	.gallery:first-child {
		width: 100%;
	  }

	/*

	.gallery:not(:first-child) {
		flex: 1;
	  }

	  */
	
	
	#gallerycontentbox img {
		flex-shrink: 2;
		width: 100%;
		max-width: 442px;
		padding: 0px 0px 20px 0px;
	}
	
	@media only screen and (max-width: 600px) {

		#gallerycontentbox {
			max-width: 90vw;
			padding: 0px;
			margin: 10 auto;
		}

		#gallerycontentbox img {
			max-width: 85vw;
	
		}



	}

/*gallery end*/

/*menu start*/

#menucontentbox {
	display: flex;
	flex-wrap: wrap;
	background-color: white;
	margin: 20px 7vw 50px 7vw;
	padding: 0 20px 50px 20px;
	color: #6B3B17;

}

#menucontentbox .contenttop {
	padding-bottom: 1vh;
}


#menucontentbox #top {
	width: 100%;

}


#menucontentbox .bordertop {
	max-width: 100%;
	margin-right: 10px;
	margin-left: 10px;
}


/*

.gallery:not(:first-child) {
	flex: 1;
  }

  */

.menusection {
	width: 100%;
	text-align: center;
	font-family: Niconne, serif;
	font-size: 30px;
	color: rgb(164, 212, 136);
	padding-bottom: 10px;
	padding-top: 8vh;
	border-bottom: 2px solid #6B3B17;
}

.menuitem {
	min-width: 100%;
	padding: 20px 0px;
	background-image: linear-gradient(to right, #6B3B17 33%, rgba(255,255,255,0) 0%);
	background-position: bottom;
	background-size: 6px 2px;
	background-repeat: repeat-x;
}

.menuitem h2 {
	font-family: overlock, sans-serif;
	font-size: 18px;
	padding: 10px 0;
}

.menuitem .price {
	font-family: overlock, sans-serif;
	font-size: 16px;
	font-style: italic;
	padding: 10px 0;
}

.menuoptions {
	padding: 20px 0;
}

.menuitem li {
	font-family: overlock, sans-serif;
	font-size: 14px;
	padding: 10px 0;
}

.row {
	line-height: 2em;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;  
	display: -ms-flex; 
	display: flex;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
  
.row .left {
	display: block;
	-webkit-box-ordinal-group: 1;
	-webkit-order: 1;
	-moz-order: 1;
	-ms-order: 1;
	order: 1;
  }
  .row .right {
	display: block;
	-webkit-box-ordinal-group: 3;
	-webkit-order: 3;
	-moz-order: 3;
	-ms-order: 3;
	order: 3;
  }

  .row .dots {
	display: block;
	margin: 0px 4px;
	background: -webkit-radial-gradient(50% 50%, circle, #6B3B17 12%, transparent 15%);
	background: -moz-radial-gradient(50% 50%, circle, #6B3B17 12%, transparent 15%);
	background: radial-gradient(circle at 50% 50%, #6B3B17 12%, transparent 15%);
	background-size: 0.5em 0.5em;
	background-position: 0 1em;
	background-repeat: repeat-x;
	-ms-flex: 1;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;
	-webkit-box-ordinal-group: 2;  
	-webkit-order: 2;
	-moz-order: 2;
	-ms-order: 2;
	order: 2;
  }

  @media only screen and (min-width: 600px) {

	.menuitem {
		min-width: 50%;
	}
  }

  @media only screen and (min-width: 900px) {

	.menuitem {
		min-width: 33%;
		max-width: 300px;
	}

	#menucontentbox {
		max-width: 950px;
		margin: 20px auto;

	}

	#menucontentbox .contenttop {
		padding-bottom: 0;
	}



  }


/*menu end*/

/*contact start*/

.contactdetails h2 {
	font-family: Niconne, serif;
	font-size: 26px;
	padding-bottom: 3px;
}

.contactdetails p {
	font-family: Overlock, sans-serif;
	font-size: 16px;
	padding: 3px 0;
}

#map {
	padding-top: 30px;
	margin-top: 10px;
	height: 280px;
	width: 100%;
}

@media only screen and (min-width: 900px) {

	#map {
		height:400px;
	}
  }


/*contact end*/


